{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/clock.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='libraries/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='libraries/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='libraries/knockout.js') }}"></script>
<script src="{{ url_for('static', filename='js/clock.js') }}"></script>
{% endblock %}

{% block content %}
This is the clock.

<input data-bind="value: sliderPosition, valueUpdate: 'afterkeydown'" />
<div style="margin: 10px" data-bind="slider: sliderPosition, sliderOptions: {min: 0, max: 100, range: 'min', step: 1}"></div>


List of dirs is:
{% for dir in dirList %}
 {{ dir }}
{% endfor %}

Slider value is: <span data-bind="text: sliderPosition"></span><br>
Clock value is: <span data-bind="text: clockPosition"></span><br>
Hour value is: <span data-bind="text: clockHours"></span><br>
Minutes value is: <span data-bind="text: clockMinutes"></span><br/>
Closest img is: <span data-bind="text: closestImg"></span></br>

<div id="clock-container">
	<svg id="clock" viewBox="0 0 100 100">
	  <circle id="face" cx="50" cy="50" r="45"/>
	  <g id="hands">
	    <rect id="hour" x="47.5" y="17.5" width="5" height="30" rx="2.5" ry="2.55" />
	    <rect id="min" x="48.5" y="12.5" width="3" height="40" rx="2" ry="2"/>
	  </g>
	</svg>
</div>

{% endblock %} 