{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/clock.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='libraries/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='libraries/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='libraries/knockout.js') }}"></script>
<script src="{{ url_for('static', filename='js/clock.js') }}"></script>
{% endblock %}

{% block content %}

<p>
	Select a date:
	<select data-bind="value: selectedDate">
		{% for dir in dirList %}
			<option value="{{ dir }}">{{dir}}</option>
		{% endfor %}
	</select>
	<br/>
	<div style="margin: 10px" data-bind="slider: sliderPosition, sliderOptions: {min: 0, max: 100, range: 'min', step: 1}"></div>
</p>


<div id="containerDiv">
	<div id="clockContainer">
		<svg id="clock" viewBox="0 0 100 100">
		  <circle id="face" cx="50" cy="50" r="45"/>
		  <g id="hands">
		    <rect id="hour" x="47.5" y="17.5" width="5" height="30" rx="2.5" ry="2.55" />
		    <rect id="min" x="48.5" y="12.5" width="3" height="40" rx="2" ry="2"/>
		  </g>
		</svg>
	</div>

	<div id="imgContainer">
		<img data-bind="attr:{'src': closestImg}" class="olImage" />
	</div>
</div>

<div class="debugInfo">
	I retrieved the image <span data-bind="text: closestImg"></span> for clock time <span data-bind="text: clockHours"></span>:<span data-bind="text: clockMinutes"></span>.
</div>
{% endblock %} 